<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events Form</title>
  </head>
  <body>
    <form method="POST" action="/event">
      <fieldset>
        <input name="title" placeholder="title" type="text" />
        <input name="summary" placeholder="summary" type="text" />
        <input name="host" placeholder="host" type="text" />
        <input name="start_date" placeholder="start_date" type="date" />
        <input name="end_date" placeholder="end_date" type="date" />
        <input name="event_category" placeholder="event_category" type="text" />
        <input name="location" placeholder="location" type="text" />
        <input name="likes" placeholder="likes" type="Number" />
        <input type="submit" value="Add Event" />
      </fieldset>
    </form>
  </body>
</html>